@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-slate-950: #020617;
  --color-slate-900: #0f172a;
}

body {
  @apply transition-colors duration-300 bg-slate-50 text-slate-900;
}

:target {
  scroll-behavior: smooth;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-300 dark:bg-slate-700;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400 dark:bg-slate-600;
  }
}
